<div class="slider">
  <button *ngIf="navigation"
          class="slider__button slider__button--prev"
          (click)="slide('prev')"
          [disabled]="!loop && currentIndex === 0"
          aria-label="Previous slide">
    ❮
  </button>

  <div class="slider__container">
    <div
      #sliderTrack
      class="slider__track"
      (mousedown)="startDragging($event)"
      (touchstart)="startDragging($event)">
      <ng-content></ng-content>
    </div>
  </div>

  <button *ngIf="navigation"
          class="slider__button slider__button--next"
          (click)="slide('next')"
          [disabled]="!loop && currentIndex >= maxIndex"
          aria-label="Next slide">
    ❯
  </button>

  <div class="slider__pagination" *ngIf="pagination">
    <div
      class="dot"
      *ngFor="let _ of [].constructor(totalPages); let i = index"
      [class.dot--active]="i === currentPage"
      (click)="goToPage(i)">
    </div>
  </div>
</div>
