.header-top-left {
  padding: 5px 11px;
  display: flex;
  gap: 10px;
  background: #121212;
  color: #fff;
  font-size: 14px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  gap: 5px;

  svg {
    width: 18px;
    height: 18px;
    fill: #fff;
  }
}
